@using WebBookStore.ViewModel
@model BookViewModel

<script type="text/javascript" language="javascript" src="~/js/site.js" defer></script>
<link href="~/css/Style.css" rel="stylesheet"/>
<div class="container-fluid bookContainer">
	<div class="row">
		<div class="col-5"><img src="@Model.BookDetail.Cover" alt="Capa do livro"  width="200px"/></div>
		<div class="col-7">
			<h2>@Model.BookDetail.Title</h2>
			<p>Escritor(a): <span>@Model.BookDetail.Writer</span></p>
			<p>Editora: <span>@Model.BookDetail.Publisher.PublisherName</span></p>
			<h4 class="fw-bold">Por: <span>R$ @Model.BookDetail.Price</span></h4>
			<!--Adiconando o livro ao carrinho de compra-->
			<!--Precisamos informar o controller--><!--Precisamos informar o a action--><!--Precisamos informar a variavel usada na action-->
			<a asp-controller="ShoppingCart" asp-action="AddItemShoppingCart" asp-route-bookId="@Model.BookDetail.BookId">
				<button class="Inactive">Comprar</button>
			</a>
			

		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-4">
			<button id="btnDescription" onclick="ShowDescription" class="Inactive">Descrição</button>
			<button id="btnSpecifications" class="Inactive">Ficha Técnica</button>
		</div>
	</div>
	<div class="container" id="description">
		<p>@Model.BookDetail.Description</p>
	</div>
	<div class="container " id="Specifications">
		<table class="table table-striped">
    <tr>
				<td>Numero de paginas</td>
		<td>@Model.BookDetail.Price</td>
    </tr>
	<tr>
		<td>Idioma</td>
				<td>@Model.BookDetail.Language</td>
	</tr>
			<tr>
				<td>Pais de origem</td>
				<td>@Model.BookDetail.Country</td>
			</tr>
			<tr>
				<td>Categoria</td>
				<td>@Model.BookDetail.Category.CategoryName</td>
			</tr>
</table>
	</div>
</div>
